.wrapper {
  width: 100%;
  background-color: #0d0816;
  padding-top: 4rem;
  padding-bottom: 5rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.card1 {
  position: sticky;
  top: 80px;
  z-index: 1;
  margin-bottom: 60px;
  width: 100%;
}

.card2 {
  position: sticky;
  top: 110px;
  z-index: 2;
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .card1 {
    top: 70px;
    margin-bottom: 40px;
  }
  .card2 {
    top: 95px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card1 {
    top: 60px;
    margin-bottom: 30px;
  }

  .card2 {
    top: 80px;
    margin-bottom: 20px;
  }
}
